<%= form_for(@person) do |f| %>

  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.radio_button(:gender, 1) %>
    <%= f.label(:gender_man, "I am a man.") %>
  </div>
  <div class="field">
    <%= f.radio_button(:gender, 0) %>
    <%= f.label(:gender_woman, "I am a woman.") %>
  </div>
  <div class="actions">
    <%= f.submit "Let us know." %>
  </div>
<% end %>




